name: CI/CD python app Pipeline
on:
  push:
      branches:
          - dev
          - main
  pull_request:
      branches:
          - dev
          - main
permissions:
    id-token: write
jobs:
   test_code:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout only python_app folder
           uses: actions/checkout@v6
           with:
             sparse-checkout: |
                python_app/
             sparse-checkout-cone-mode: false
         - name: Setup python environment
           uses: actions/setup-python@v6         
           with:
              python-version: '3.13'
              cache: 'pip'
         - run: ls && cd python_app && pip install .
         - name: Run Tests
           run: pytest
   build_and_push:
        needs: test_code
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Only python app
              uses: actions/checkout@v6
              with:
                sparse-checkout: |
                     python_app/
                sparse-checkout-cone-mode: false
            - name: Setup env variables
              run: |
                 echo "ACCOUNT_ID=${{ secrets.AWS_ACCOUNT_ID }}" >> $GITHUB_ENV
                 echo "REGION=${{ secrets.REGION }}" >> $GITHUB_ENV
                 if [[ $GITHUB_REF_NAME == "dev" ]]; then
                     echo "ECR_REPOSITORY_NAME=${{ secrets.ECR_REPO_DEV }}" >> $GITHUB_ENV
                 else
                     echo "ECR_REPOSITORY_NAME=${{ secrets.ECR_REPO_PROD }}" >> $GITHUB_ENV 
                 fi
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                 role-to-assume: arn:aws:iam::${ACCOUNT_ID}:role/github-actions-role
                 aws-region: $REGION
            - name: Build Image 
              run: |
                 cd python_app && docker build -t ${ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:latest .
                 docker images
            - name: Login to ECR
              uses: aws-actions/amazon-ecr-login@v2
            - name: Push Image
              run: |
                 docker push ${ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:latest
   Deploy_to_EKS:
       
      